.intro {
 background-image: url(resources/images/intro.png);
 background-position: right;
 background-repeat: no-repeat;
 height: 800px;
}


.screenshot {
 margin-top: 2rem
}

.bgimage {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
    color: #fff;
}
