
.screenshot {
 margin-top: 2rem
}

.banniere {
    height: 600px
}

.bgimage {
    
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
    color: #fff;
}

.intro-text {
    margin-top : 10%
}

.intro-text h1 {
    font-size: 4em;
    color: #324251
}